@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --off-white: #f9f9f9;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-off-white: var(--off-white);
  --font-display: var(--font-poppins);
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.font-display {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.font-sans {
  font-family: var(--font-inter);
}

.bg-off-white {
  background-color: #f9f9f9;
}
